In [1]:
import numpy as np
import pandas as pd
import math
from matplotlib import pyplot as plt
%matplotlib inline
# must be in python3 pygrib
import time
import multiprocessing as mp

In [3]:
def precintcon_ln_a(X, Y):
    N = len(X)
    if (len(X) == len(Y)):
        a=(sum(X**2)*sum(np.log(Y)))
        Z=((sum(X**2)*sum(np.log(Y))) + (sum(X)*sum(X*np.log(X)))-(sum(X**2)*sum(np.log(X))) -\
        (sum(X)*sum(X*np.log(Y))))/(N*sum(X**2)-(sum(X)**2))#!!!
    else:
        print("X and Y with differents lengths!")
    return Z

def precintcon_b(X, Y):
    N=len(X)
    if (len(X) == len(Y)):
        Z=(N * sum(X * np.log(Y))+ \
        sum(X) * sum(np.log(X))- \
        N * sum(X * np.log(X)) - \
        sum(X) * sum(np.log(Y))) \
        /(N * sum(X**2) - sum(X)**2)/100  #!!!!!   100   
    else:
        print("X and Y have differents lengths!")
    return Z

def p_sum_p(o):
    i = o[:,0]
    f = o[:,1]
    n = o[:,2]
    m = (o[:,0] + o[:,1] + 0.1)/2
    #print(len(m))
    x = m[0] * n[0]
    #print(x)
    #print(len(i))
    #print(len(f))
    #print(len(n))
    for k in range(1,len(i)):#!!!!!!!1
        #print(k)
        x = np.append(x, m[k] * n[k])
        #print(x)
    y = x[0]/sum(x)
    #print(y)
    #print(len(x))
    for k in range(2,len(x)+1):
        y = np.append(y, sum(x[0:k])/sum(x))
    return(y)

def p_sum_n(o):
    x = o[0]
    y=sum(o)
    #print(y)
    #print(len(y))
    for i in range(2,len(o)+1):
        #x = pd.concat(x, sum(o[0:i])) #np.r_
        #print(sum(o[0:i]))
        x = np.append(x, sum(o[0:i]))
        #print(x)
        n=x/y
    return(n)

def precintcon_class(v,interval):
    result=[0,0,0]
    #s=0
    #python-Error Message: 'float' object cannot be interpreted as an integer
    #print(v)
    #print(max(v))
    #print(math.ceil(max(v)))
    for i in range(0,math.ceil(max(v)+interval),interval):
        #initial = i # 
        initial = i + 0.1 if i == 0  else i
        final   = i+interval-0.1
        s = sum((v[(v>= initial)& (v<=final)]).value_counts())#!!!!!!!!!!!!!!!!!!!!! no table
        #s += sum(v[(v>= initial)& (v<=final)])
        #print(initial, final, s)
        #if not s.empty: 
        if s>0 :
            #result= np.append(initial, final, s)
            result= np.row_stack((result, [initial, final, s]))
    #print(result)
    return result[1:,:]#!!!1
def ci_pre(X,Z):
    stid=X["Stid"]
    rain=X["rain"]
    Height=Z["Height"]
    Lon=Z["Lon"]
    Lat=Z["Lat"]
    Date=Z["DATE"]
    y=precintcon_class(rain,1)
    #print(y)
    sum_p=p_sum_p(y)
    sum_n=p_sum_n(y[:,2])
    a= np.exp(precintcon_ln_a(sum_n, sum_p))
    b= precintcon_b(sum_n, sum_p)
    A=(a/b)*(np.exp(b*100) * (100 - (1/b)))
    S= 5000-A
    ci= 2*S/10000
    cid=[Date.iloc[0],stid.iloc[0],Height.iloc[0],Lat.iloc[0],Lon.iloc[0],ci]
    #cidd=np.array(cid)
    #cidd=cid[0][0:2]
    cipd=pd.DataFrame(np.array([cid]),columns=["DATE","Stid","Height","Lat","Lon","ci"]) 
    return cipd

In [ ]:
df = pd.read_csv('china_pre-before2000.csv', sep=',',skiprows=0,header=0,na_values=[32766.0],low_memory=False)
df=df.dropna()
df[['rain','rain208','rain820']]=df[['rain','rain208','rain820']].applymap( lambda x: x if x<30000 else (x-30000 if x<31000 else (x-31000 if x<32000 else(x-32000 if x<32700 else x-32700))))

In [ ]:
times=pd.to_datetime(df['Time'],format='%Y-%m-%d')
from datetime import datetime
df['DATE'] = pd.to_datetime(df['Time'])
df['DATE'] = [datetime.strftime(x,'%Y') for x in df['DATE']]

In [ ]:
df.to_csv("use_pre-before2000-Y.csv",index=False)

In [4]:
df = pd.read_csv('use_pre-before2000-Y.csv', sep=',',skiprows=0,header=0,na_values=[32766.0],low_memory=False)
df=df.dropna()

In [5]:
df.head()

         Time   Stid   Lat    Lon  Height  rain  rain208  rain820  DATE
0  1951-01-01  50527  4913  11945    6766   0.0      0.0      0.0  1951
1  1951-01-01  56571  2753  10218   15907   0.0      0.0      0.0  1951
2  1951-01-01  58634  2840  11815     936   0.0      0.0      0.0  1951
3  1951-01-01  56492  2849  10432    2750   0.0      0.0      0.0  1951
4  1951-01-01  56386  2930  10345    3715   0.0      0.0      0.0  1951

In [6]:
def job(x):
    #print(x)
    ci=ci_pre(bf[x],al[x])
    #print(ci,x)
    return ci

In [6]:
if __name__ == '__main__':    
    cf=df[df["DATE"]==1952]
    #print(cf.head())
    stid=cf.Stid.drop_duplicates()
    #print(stid)
    bf=[]
    al=[]
    for id in stid:
        #af=df[["Stid","rain","Height","Lat","Lon","DATE"]][df["Stid"]==id]
        af=cf[["Stid","rain"]][cf["Stid"]==id]
        ef=cf[["Height","Lat","Lon","DATE"]][cf["Stid"]==id]
        a=ef.iloc[[0]]
        print(a)
        #af=cf[["Stid","rain"]][cf["Stid"]==id]
        if any(af["rain"]):#如果都为空、0、false，则返回false，如果不都为空、0、false，则返回true。
            bf.append(af)
            al.append(a)
                # TypeError: list indices must be integers or slices, not tuple 53602 is all 0.000
                     #for 1951Y bf[147] 56029 all is 66.0
    print(len(bf))
    #print(bf)
    pool = mp.Pool(processes=8)
    multi_res =[pool.apply_async(job, (i,)) for i in range(len(bf))]
    pool.close()
    pool.join()#调用join之前，先调用close函数，否则会出错。执行完close后不会有新的进程加入到pool,join函数等待所有子进程结束
    #name=['Stid','rain']
    #test=pd.DataFrame(columns=name,data=mres)#数据有三列，列名分别为one,two,three
    #test.to_csv('testcsv231.csv',index=False)
    #test.to_csv("ci_"+str(i)+".csv",index=False,sep=',')
    output= pd.DataFrame()
    for i in range(len(bf)):
        try:
            result0=multi_res[i].get()
            print(result0)
        #cipd=pd.DataFrame(np.array([result0]),columns=["DATE","Stid","Height","Lat","Lon","ci"])
       # output.append(result0)
            output=pd.concat([output, result0], axis=0)
        except Exception as e:
            print("error")
    output.to_csv("ci_"+str(year)+".csv",index=False,sep=',')

       Height   Lat    Lon  DATE
37971     206  3256  11722  1952
       Height   Lat    Lon  DATE
37972    4050  2527  10646  1952
       Height   Lat    Lon  DATE
37973    1780  2515  11010  1952
       Height   Lat    Lon  DATE
37974  114050  3636  10439  1952
       Height   Lat    Lon  DATE
37975     560  2615  11420  1952
       Height   Lat    Lon  DATE
37976   15250  3805  10255  1952
       Height   Lat    Lon  DATE
37977     990  2550  11450  1952
       Height   Lat    Lon  DATE
37978     920  2656  11235  1952
       Height   Lat    Lon  DATE
37979     720  2705  11455  1952
       Height   Lat    Lon  DATE
37980    1640  2622  11131  1952
       Height   Lat    Lon  DATE
37981  109000  3636  10932  1952
       Height   Lat    Lon  DATE
37982  115500  3855  10035  1952
       Height   Lat    Lon  DATE
37983    6000  2738  10857  1952
       Height   Lat    Lon  DATE
37984    7900  3755  11231  1952
       Height   Lat    Lon  DATE
37985  102500  2715  11123  1952
       Height   Lat    Lon  DATE
37986   11150  3825  10620  1952
       Height   Lat    Lon  DATE
37987   10574  2634  10642  1952
       Height   Lat    Lon  DATE
37988   10942  3815  10925  1952
       Height   Lat    Lon  DATE
37989     216  3219  11820  1952
       Height   Lat   Lon  DATE
37990  114693  3940  9843  1952
       Height   Lat   Lon  DATE
37991    6700  4355  8117  1952
       Height   Lat    Lon  DATE
37992     910  2605  11918  1952
       Height   Lat   Lon  DATE
37993  106120  4403  8927  1952
       Height   Lat    Lon  DATE
37994    1514  4538  12251  1952
       Height   Lat    Lon  DATE
37995     813  2455  11307  1952
       Height   Lat    Lon  DATE
37996    1372  3608  11421  1952
       Height   Lat    Lon  DATE
37997    3326  2510  11706  1952
       Height   Lat   Lon  DATE
37998  109090  4347  8737  1952
       Height   Lat   Lon  DATE
37999  110580  4203  8634  1952
       Height   Lat    Lon  DATE
38000      73  3201  12054  1952
       Height   Lat    Lon  DATE
38001      66  3145  11955  1952
       Height   Lat   Lon  DATE
38002  111000  4008  9447  1952
       Height   Lat    Lon  DATE
38003     263  3037  11702  1952
       Height   Lat    Lon  DATE
38004      77  3020  12014  1952
       Height   Lat   Lon  DATE
38005  107700  4248  9327  1952
       Height   Lat   Lon  DATE
38006  113060  3928  7552  1952
       Height   Lat    Lon  DATE
38007     803  2858  11853  1952
       Height   Lat   Lon  DATE
38008  111000  4145  8304  1952
       Height   Lat    Lon  DATE
38009     936  2840  11815  1952
       Height   Lat   Lon  DATE
38010  100240  4300  8918  1952
       Height   Lat    Lon  DATE
38011      95  2840  12130  1952
       Height   Lat    Lon  DATE
38012    2280  2800  11835  1952
       Height   Lat    Lon  DATE
38013     618  3205  11845  1952
       Height   Lat    Lon  DATE
38014     513  3956  11620  1952
       Height   Lat    Lon  DATE
38015     600  2815  11250  1952
       Height   Lat    Lon  DATE
38016   19600  2720  10345  1952
       Height   Lat    Lon  DATE
38017      47  3858  11749  1952
       Height   Lat    Lon  DATE
38018   24450  2657  10018  1952
       Height   Lat    Lon  DATE
38019      60  3908  11711  1952
       Height   Lat   Lon  DATE
38020  116460  2507  9829  1952
       Height   Lat    Lon  DATE
38021   15907  2753  10218  1952
       Height   Lat    Lon  DATE
38022     500  4011  12419  1952
       Height   Lat    Lon  DATE
38023  119600  2543  10011  1952
       Height   Lat    Lon  DATE
38024     222  4013  12211  1952
       Height   Lat    Lon  DATE
38025   18934  2502  10243  1952
       Height   Lat    Lon  DATE
38026      24  4040  12214  1952
       Height   Lat    Lon  DATE
38027   18843  2535  10350  1952
       Height   Lat    Lon  DATE
38028     100  4036  12034  1952
       Height   Lat   Lon  DATE
38029   16930  2513  9915  1952
       Height   Lat    Lon  DATE
38030     956  3854  12138  1952
       Height   Lat    Lon  DATE
38031     155  3730  11732  1952
       Height   Lat    Lon  DATE
38032    2734  4613  12203  1952
       Height   Lat    Lon  DATE
38033    9929  3323  10441  1952
       Height   Lat   Lon  DATE
38034   33200  3138  9959  1952
       Height   Lat    Lon  DATE
38035     864  3536  11852  1952
       Height   Lat    Lon  DATE
38036   24650  3100  10222  1952
       Height   Lat    Lon  DATE
38037     520  3535  11651  1952
       Height   Lat    Lon  DATE
38038   28816  3239  10334  1952
       Height   Lat    Lon  DATE
38039     378  3642  11907  1952
       Height   Lat    Lon  DATE
38040     288  3642  11704  1952
       Height   Lat    Lon  DATE
38041  100467  3723  12242  1952
       Height   Lat    Lon  DATE
38042   13466  3533  10640  1952
       Height   Lat    Lon  DATE
38043  116710  2420  10234  1952
       Height   Lat    Lon  DATE
38044    4300  3016  10922  1952
       Height   Lat    Lon  DATE
38045     702  3042  11105  1952
       Height   Lat    Lon  DATE
38046    1628  4311  12420  1952
       Height   Lat    Lon  DATE
38047     232  3025  11417  1952
       Height   Lat    Lon  DATE
38048    1782  4336  12216  1952
       Height   Lat    Lon  DATE
38049     720  3521  11350  1952
       Height   Lat    Lon  DATE
38050     329  2855  11133  1952
       Height   Lat    Lon  DATE
38051   14149  3542  10744  1952
       Height   Lat    Lon  DATE
38052    2960  3048  10604  1952
       Height   Lat    Lon  DATE
38053    5650  4216  11854  1952
       Height   Lat    Lon  DATE
38054    3755  4141  12555  1952
       Height   Lat    Lon  DATE
38055   12991  2330  10330  1952
       Height   Lat    Lon  DATE
38056     798  4150  12407  1952
       Height   Lat    Lon  DATE
38057     806  3445  11335  1952
       Height   Lat    Lon  DATE
38058     430  4147  12324  1952
       Height   Lat    Lon  DATE
38059     750  3450  11420  1952
       Height   Lat    Lon  DATE
38060    5200  3305  10710  1952
       Height   Lat    Lon  DATE
38061     153  4105  12250  1952
       Height   Lat    Lon  DATE
38062    5170  3226  10548  1952
       Height   Lat    Lon  DATE
38063     218  4107  12107  1952
       Height   Lat    Lon  DATE
38064     914  3225  11140  1952
       Height   Lat    Lon  DATE
38065    8476  4157  11733  1952
       Height   Lat    Lon  DATE
38066     740  3210  11405  1952
       Height   Lat    Lon  DATE
38067    1675  4210  12138  1952
       Height   Lat    Lon  DATE
38068    3709  4058  11750  1952
       Height   Lat    Lon  DATE
38069     429  2330  11125  1952
       Height   Lat    Lon  DATE
38070  122460  3430  10405  1952
       Height   Lat    Lon  DATE
38071    1470  4720  12356  1952
       Height   Lat    Lon  DATE
38072    6766  4913  11945  1952
       Height   Lat    Lon  DATE
38073    2234  4804  12552  1952
       Height   Lat    Lon  DATE
38074    7387  4846  12155  1952
       Height   Lat    Lon  DATE
38075      87  2102  11028  1952
       Height   Lat    Lon  DATE
38076    2223  4910  12513  1952
       Height   Lat    Lon  DATE
38077      21  2320  11640  1952
       Height   Lat    Lon  DATE
38079    2157  4352  12520  1952
       Height   Lat    Lon  DATE
38082   30451  3712  10252  1952
       Height   Lat    Lon  DATE
38086    2751  4342  12719  1952
       Height   Lat    Lon  DATE
38089  101896  2545  11259  1952
       Height   Lat    Lon  DATE
38094    2665  2727  10938  1952
       Height   Lat    Lon  DATE
38095   31370  2928  10341  1952
       Height   Lat    Lon  DATE
38096    2403  4435  12936  1952
       Height   Lat    Lon  DATE
38097    2188  4517  13057  1952
       Height   Lat    Lon  DATE
38098    3708  2930  10345  1952
       Height   Lat    Lon  DATE
38099  118770  3522  10352  1952
       Height   Lat    Lon  DATE
38100    2910  2930  10633  1952
       Height   Lat    Lon  DATE
38105    2750  2849  10432  1952
       Height   Lat    Lon  DATE
38106  119000  3537  10311  1952
       Height   Lat    Lon  DATE
38110    3540  3030  10535  1952
       Height   Lat    Lon  DATE
38113    2677  3116  10728  1952
       Height   Lat    Lon  DATE
38123     264  2840  11558  1952
       Height   Lat    Lon  DATE
38158  124074  3525  10450  1952
       Height   Lat    Lon  DATE
38159   14393  2233  10102  1952
       Height   Lat    Lon  DATE
38162    7670  2747  10729  1952
       Height   Lat    Lon  DATE
38163    1451  4545  12638  1952
       Height   Lat    Lon  DATE
38167    6276  3000  10303  1952
       Height   Lat    Lon  DATE
38176     804  4649  13020  1952
       Height   Lat    Lon  DATE
38177    3762  2756  10813  1952
       Height   Lat    Lon  DATE
38181   10622  4049  11141  1952
       Height   Lat    Lon  DATE
38186     940  2418  10916  1952
       Height   Lat    Lon  DATE
38194    6300  2848  10846  1952
       Height   Lat    Lon  DATE
38216     161  2000  11025  1952
       Height   Lat    Lon  DATE
38221   25580  3003  10202  1952
       Height   Lat    Lon  DATE
38237      74  2248  10818  1952
       Height   Lat   Lon  DATE
38244  111820  4030  9555  1952
       Height   Lat    Lon  DATE
38250     104  2300  11313  1952
       Height   Lat    Lon  DATE
38258    1450  2355  10632  1952
       Height   Lat   Lon  DATE
38266  137150  3252  9640  1952
       Height   Lat    Lon  DATE
38270   10160  4050  10950  1952
       Height   Lat    Lon  DATE
38283  101272  2639  11810  1952
       Height   Lat    Lon  DATE
38291  102090  2558  11721  1952
       Height   Lat    Lon  DATE
38304     265  2545  11620  1952
       Height   Lat    Lon  DATE
38312    5160  3041  10749  1952
       Height   Lat    Lon  DATE
38324    1969  2720  11806  1952
       Height   Lat    Lon  DATE
38821    9300  2820  10640  1952
       Height   Lat    Lon  DATE
38886  114000  2525  10515  1952
       Height   Lat    Lon  DATE
38942   23165  2651  10415  1952
       Height   Lat    Lon  DATE
39028   13220  2545  10439  1952
       Height   Lat    Lon  DATE
39872   14740  2718  10514  1952
       Height   Lat    Lon  DATE
41946  120800  3552  10400  1952
       Height   Lat    Lon  DATE
41989    3103  4800  12244  1952
       Height   Lat    Lon  DATE
41992     362  2720  12013  1952
       Height   Lat    Lon  DATE
45887   13751  2614  10555  1952
       Height   Lat    Lon  DATE
52288   11456  4224  11243  1952
       Height   Lat    Lon  DATE
52341   41870  3000  10016  1952
       Height   Lat    Lon  DATE
52349    2650  4434  12054  1952
       Height   Lat    Lon  DATE
52360    2659  4336  12112  1952
       Height   Lat    Lon  DATE
52362    8051  4330  11803  1952
       Height   Lat    Lon  DATE
52378    1706  4135  12025  1952
       Height   Lat    Lon  DATE
55521    6000  3205  10811  1952
       Height   Lat    Lon  DATE
55573    3261  4231  12538  1952
       Height   Lat    Lon  DATE
55595    4430  3151  10645  1952
       Height   Lat    Lon  DATE
55711   19200  2650  10215  1952
       Height   Lat    Lon  DATE
55787   11261  4341  11429  1952
       Height   Lat    Lon  DATE
55799  112114  4215  11613  1952
       Height   Lat    Lon  DATE
55807    9858  4351  11605  1952
       Height   Lat    Lon  DATE
56005   10250  4713  11958  1952
       Height   Lat    Lon  DATE
58821    1700  3104  11024  1952
       Height   Lat    Lon  DATE
58824  100514  2927  11312  1952
       Height   Lat    Lon  DATE
58829  101210  2902  11434  1952
       Height   Lat   Lon  DATE
58831    8780  4329  9139  1952
       Height   Lat    Lon  DATE
58836     680  3401  11349  1952
       Height   Lat    Lon  DATE
58840     404  3212  11542  1952
       Height   Lat    Lon  DATE
58847     413  2910  11715  1952
       Height   Lat    Lon  DATE
58856    1010  2751  11421  1952
       Height   Lat   Lon  DATE
58867  115800  4016  9711  1952
       Height   Lat    Lon  DATE
58870     813  4224  12229  1952
       Height   Lat    Lon  DATE
58874    4217  4123  11942  1952
       Height   Lat    Lon  DATE
58877  100420  2817  11706  1952
       Height   Lat    Lon  DATE
58894   28800  2859  10133  1952
       Height   Lat    Lon  DATE
58895    6500  2818  10336  1952
       Height   Lat    Lon  DATE
58901    2405  4115  12521  1952
       Height   Lat    Lon  DATE
58919     765  2733  11636  1952
       Height   Lat    Lon  DATE
58995  101438  2827  11023  1952
       Height   Lat    Lon  DATE
59027    3300  2644  11037  1952
       Height   Lat    Lon  DATE
59035    1506  4624  12521  1952
       Height   Lat    Lon  DATE
59059    2403  4726  12658  1952
       Height   Lat    Lon  DATE
59061    1913  2447  11223  1952
       Height   Lat    Lon  DATE
59091     400  2323  11003  1952
       Height   Lat    Lon  DATE
59104     342  2322  11411  1952
       Height   Lat    Lon  DATE
59119     500  2344  11441  1952
       Height   Lat   Lon  DATE
59120  117759  4147  9507  1952
       Height   Lat    Lon  DATE
59132      77  2233  11407  1952
       Height   Lat    Lon  DATE
59263    1786  4642  12659  1952
       Height   Lat    Lon  DATE
59599    7380  3402  11002  1952
       Height   Lat    Lon  DATE
59625    1272  3304  11232  1952
       Height   Lat    Lon  DATE
61295    2147  2422  11429  1952
       Height   Lat    Lon  DATE
62417     752  3110  11234  1952
       Height   Lat   Lon  DATE
62446  113565  3923  9943  1952
       Height   Lat    Lon  DATE
62489     278  3153  11715  1952
       Height   Lat    Lon  DATE
62570  100052  2246  11522  1952
       Height   Lat    Lon  DATE
62862  120741  3425  10957  1952
       Height   Lat    Lon  DATE
62979  105124  4423  13109  1952
       Height   Lat    Lon  DATE
63137     765  4714  13159  1952
       Height   Lat    Lon  DATE
63152    1396  4513  12758  1952
       Height   Lat    Lon  DATE
63276    1086  4558  12844  1952
       Height   Lat    Lon  DATE
66449     280  3339  11703  1952
       Height   Lat    Lon  DATE
66523    2390  1931  10932  1952
       Height   Lat    Lon  DATE
66527  100100  2154  11157  1952
       Height   Lat   Lon  DATE
66600   27000  3001  9856  1952
       Height   Lat    Lon  DATE
66738     200  2146  10818  1952
       Height   Lat    Lon  DATE
66740     200  2143  10905  1952
       Height   Lat    Lon  DATE
66756    1538  4451  12554  1952
       Height   Lat    Lon  DATE
66761  101919  4415  12358  1952
       Height   Lat    Lon  DATE
70588  117595  3847  10105  1952
       Height   Lat    Lon  DATE
70610     736  2408  11615  1952
       Height   Lat    Lon  DATE
70611     394  2427  11804  1952
       Height   Lat    Lon  DATE
70687    2647  3232  10921  1952
       Height   Lat    Lon  DATE
70717    1285  2222  10645  1952
       Height   Lat    Lon  DATE
70720     110  2157  10836  1952
       Height   Lat    Lon  DATE
70722     164  1908  10838  1952
       Height   Lat    Lon  DATE
70774    1352  4501  12458  1952
       Height   Lat    Lon  DATE
75583  113090  2715  11245  1952
       Height   Lat    Lon  DATE
75689   21950  2626  10311  1952
       Height   Lat    Lon  DATE
75696  117820  2501  10132  1952
       Height   Lat    Lon  DATE
80617     766  4016  12317  1952
       Height   Lat    Lon  DATE
80690  115630  3852  10534  1952
       Height   Lat    Lon  DATE
80710    9887  2551  10732  1952
       Height   Lat    Lon  DATE
80793   14825  4146  11406  1952
       Height   Lat    Lon  DATE
81576     370  1925  11028  1952
113

In [9]:
if __name__ == '__main__':
    for year in range(1962,1963):
        cf=df[df["DATE"]==str(year)]
        print(cf.head())
        stid=cf.Stid.drop_duplicates()
        print(stid)
        bf=[]
        al=[]
        for id in stid:
            #af=df[["Stid","rain","Height","Lat","Lon","DATE"]][df["Stid"]==id]
            af=cf[["Stid","rain"]][cf["Stid"]==id]
            ef=cf[["Height","Lat","Lon","DATE"]][cf["Stid"]==id]
            a=ef.iloc[[0]]
            #print(a)
        #af=cf[["Stid","rain"]][cf["Stid"]==id]
            if any(af["rain"]):#如果都为空、0、false，则返回false，如果不都为空、0、false，则返回true。
                bf.append(af)
                al.append(a)
                # TypeError: list indices must be integers or slices, not tuple 53602 is all 0.000
                     #for 1951Y bf[147] 56029 all is 66.0
        #print(len(bf))
    #print(bf)
        pool = mp.Pool(processes=8)
        multi_res =[pool.apply_async(job, (i,)) for i in range(len(bf))]
        pool.close()
        pool.join()#调用join之前，先调用close函数，否则会出错。执行完close后不会有新的进程加入到pool,join函数等待所有子进程结束
    #name=['Stid','rain']
    #test=pd.DataFrame(columns=name,data=mres)#数据有三列，列名分别为one,two,three
    #test.to_csv('testcsv231.csv',index=False)
    #test.to_csv("ci_"+str(i)+".csv",index=False,sep=',')
        output= pd.DataFrame()
        for i in range(len(bf)):
            try:
                result0=multi_res[i].get()
                #print(result0)
        #cipd=pd.DataFrame(np.array([result0]),columns=["DATE","Stid","Height","Lat","Lon","ci"])
       # output.append(result0)
                output=pd.concat([output, result0], axis=0)
            except Exception as e:
                print("error")
        output.to_csv("ci_"+str(year)+".csv",index=False,sep=',')

Empty DataFrame
Columns: [Time, Stid, Lat, Lon, Height, rain, rain208, rain820, DATE]
Index: []
Series([], Name: Stid, dtype: int64)

if __name__ == '__main__':
    pool = mp.Pool(processes=8)
    multi_res =[pool.apply_async(job, (i,)) for i in range(len(bf))]

def multicore():
    pool = mp.Pool(processes=8)
    res = pool.map(job,range(len(bf)))
    res = pool.apply_async(job, (2,))
    print(res.get())
    multi_res =[pool.apply_async(job, (i,)) for i in range(len(bf))]
    print([res.get() for res in multi_res])

def multicore1():
    pool = mp.Pool(processes=8)
    #multi_res =[pool.apply_async(job, (231,))]
    res = pool.apply_async(job, (151,))
    #print(res.get())
    #print([res.get() for res in multi_res])
    #print(csv)
   #name=['Stid','rain']
    #test=pd.DataFrame(columns=name,data=csv)#数据有三列，列名分别为one,two,three
    #test.to_csv('testcsv231.csv',index=False)
    print(res.get())

## pd.pivot_table

cf=df[df["DATE"]=='1954Y']
table1 = pd.pivot_table(cf, values='rain', index=['Stid'],columns=['DATE'], aggfunc=ci_pre)
table1.to_csv("ci_1954.csv",index=True,sep=',')