In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [2]:
ccn_data = pd.read_csv('avg_CCNnew.csv', sep=',',skiprows=0,header=0,na_values=[9999])

In [4]:
ccn_data.head()

,lat_bin,lon_bin,BJC,AMR_lowest,AMR_surf,AOD,B4LI,CAPE,CAPE_lowest,CAPE_nc,...,satz,solz,sound_D(km),sound_ID,sound_hour,sumN_0.5,sumN_0.5_sumN_1.0,sumN_1.0,winNO,stid
0,26.0,117.5,2013-06-01 05:09:00,NaN,NaN,NaN,-5.3,2149.0,NaN,2121.000000,...,-12.10,14.905,NaN,NaN,NaN,363.000000,1.000000,363.500000,1203.500000,26.0117.5
1,26.0,118.0,2013-06-01 05:09:00,NaN,NaN,NaN,-5.3,2149.0,NaN,2048.666667,...,-8.22,15.370,NaN,NaN,NaN,592.666667,0.996667,594.666667,1170.333333,26.0118.0
2,26.0,118.5,2013-06-01 05:09:00,NaN,NaN,NaN,-6.9,2822.0,NaN,1904.000000,...,-4.83,15.755,NaN,NaN,NaN,452.500000,1.000000,452.500000,1102.500000,26.0118.5
3,26.0,119.0,2013-06-01 05:09:00,NaN,NaN,NaN,-6.9,2822.0,NaN,1904.000000,...,-0.48,16.260,NaN,NaN,NaN,171.000000,1.000000,171.000000,1101.000000,26.0119.0
4,26.5,117.5,2013-06-01 05:09:00,NaN,NaN,NaN,-6.1,2574.0,NaN,2121.000000,...,-12.10,14.930,NaN,NaN,NaN,1885.000000,1.000000,1885.000000,1208.000000,26.5117.5

In [5]:
ccn_data['DATE'] = pd.to_datetime(ccn_data['BJC'])

In [6]:
ccn_data['DATE'] = [datetime.strftime(x,'%Y-%m-%d') for x in ccn_data['DATE']]

In [8]:
import matplotlib.pyplot as plt
from scipy import optimize

In [ ]:
def f_3(x, A, B, C):
    return A*x*x + B*x + C